/* _content/OTT-ToDo/Shared/MainLayout.razor.rz.scp.css */
.page[b-xixna2hkof] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-xixna2hkof] {
    flex: 1;
}

.sidebar[b-xixna2hkof] {
    background-color: whitesmoke;
    border: 1px solid #60E66E;
    color: black !important;
}

.top-row[b-xixna2hkof] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-xixna2hkof]  a, .top-row .btn-link[b-xixna2hkof] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-xixna2hkof] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-xixna2hkof] {
        display: none;
    }

    .top-row.auth[b-xixna2hkof] {
        justify-content: space-between;
    }

    .top-row a[b-xixna2hkof], .top-row .btn-link[b-xixna2hkof] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-xixna2hkof] {
        flex-direction: row;
    }

    .sidebar[b-xixna2hkof] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-xixna2hkof] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-xixna2hkof], article[b-xixna2hkof] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/OTT-ToDo/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-srswawfebc] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-srswawfebc] {
    height: 3.5rem;
}

.navbar-brand[b-srswawfebc] {
    font-size: 1.1rem;
    color: black !important;
    text-decoration: none;
}

.oi[b-srswawfebc] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-srswawfebc] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    color:black;
}

    .nav-item:first-of-type[b-srswawfebc] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-srswawfebc] {
        padding-bottom: 1rem;
    }

    .nav-item[b-srswawfebc]  a {
        color: black;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }



@media (min-width: 641px) {
    .navbar-toggler[b-srswawfebc] {
        display: none;
    }

    .collapse[b-srswawfebc] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-srswawfebc] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
